/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Scoreboard Section */
#scoreboard {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#scoreboard div {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#scoreboard div:last-child {
    border-bottom: none;
}

/* Camera Section */
#scanQRCodeButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

#scanQRCodeButton:hover {
    background-color: #45a049;
}

#video {
    display: none;
    width: 100%;
    height: auto;
}

canvas {
    display: none;
}

.highlighted-user {
    background-color: #ffeb3b; /* Yellow color for highlighting */
    font-weight: bold;
    color: black;
  }