/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Scoreboard Section */
#scoreboard {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#scoreboard div {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#scoreboard div:last-child {
    border-bottom: none;
}

/* Camera Section */
#scanQRCodeButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

#scanQRCodeButton:hover {
    background-color: #45a049;
}

/* Styling video with border when active */
#video.active {
    display: block;
    border: 3px solid #ffeb3b; /* Golden border when scanning */
    width: 100%;
    height: auto;
}

canvas {
    display: none;
}

#rulesText {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 20px;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-list a:hover {
    color: #ffeb3b;
  }
  
  .language-option {
    font-size: 16px;
  }
  
  /* Style for active section */
  section {
    padding: 50px;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

/* Language Flags Styling */
.language-option {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align language flags to the right */
    margin-left: auto; /* Push language flags to the right */
}

.language-option a {
    display: flex;
    align-items: center;
}

.language-option img {
    width: 30px; /* Set flag width */
    height: auto;
    margin-left: 10px; /* Space between flags */
}

.language-option a:hover img {
    opacity: 0.8;
}


#scoreTable {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%; /* Faz com que a tabela ocupe 90% da largura da página */
      border-collapse: collapse; /* Remove espaços entre as células */
    }

    /* Estilo do cabeçalho da tabela */
    #scoreTable thead {
      background-color: #f1f1f1; /* Fundo cinza claro */
      text-align: left; /* Alinha o texto à esquerda */
    }

    /* Estilo para as células do cabeçalho */
    #scoreTable th {
      padding: 10px;
      border: 1px solid #ddd; /* Linha fina e cinza para separar as células */
    }

    /* Estilo para as células do corpo da tabela */
    #scoreTable td {
      padding: 10px;
      border: 1px solid #ddd; /* Linha fina e cinza para separar as células */
    }

    /* Alinha o conteúdo no meio das células */
    #scoreTable td, #scoreTable th {
      text-align: center;
    }

    /* Adiciona um efeito de alternância de cor nas linhas da tabela */
    #scoreTable tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    #scoreTable tbody tr:hover {
      background-color: #e0e0e0; /* Destaca a linha ao passar o mouse */
    }
  

    @media (max-width: 400px) {
        nav {
          justify-content: center; /* Center nav items on small screens */
        }
      
        .nav-list {
          flex-direction: column;  /* Stack the items vertically */
          align-items: baseline;     /* Center the items horizontally */
        }
      
        .nav-list li {
          margin-bottom: 10px;  /* Add space between items when they stack */
        }
      
        .language-option {
            display: flex;
            align-items: center;
            justify-content: flex-start; /* Keeps flags in the same row */
            margin-left: 10px;
        }
      }